@charset "EUC-KR";
.center {
	text-align: center;
}

.myForm {
	display: grid;
	place-content: center;
	grid-template-columns: 1fr 200px 1fr;
	grid-template-rows: 1fr 1fr 2fr;
	grid-auto-flow: row;
	grid-gap: .8em;
	padding: 1.2em;
}

.myForm>label {
	grid-column: 1;
	grid-row: auto;
	justify-self: start;
}

@media screen and (min-width: 768px) {
	.myForm>label {
		grid-column: 1;
		grid-row: auto;
		justify-self: start;
		margin-left: 70%;
	}
}

.myForm>input {
	grid-column: 2;
	grid-row: auto;
}

.myForm>div {
	grid-column: 2;
	grid-row: auto;
	align-self: center;
	justify-self: center;
}

button {
	margin: 5px;
}