<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- 데이터소스설정 : DriverManagerDataSource클래스 이용  -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource"
		p:driverClass="com.mysql.cj.jdbc.Driver"
		p:url="jdbc:mysql://localhost:3306/mydb?characterEncoding=UTF-8&amp;serverTimezone=UTC"
		p:username="root" p:password="mcys1309" />


	<bean id="test"
		class="test01.FirstJdbcDaoImple">
		<property name="dataSource" ref="dataSource" /> <!-- db 연결 -->
	</bean>

</beans>
