<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <title>A02 Attribute</title>
</head>
<body>
    <div class="card-body" id="app">
        <h3>A02 Attribute Binding</h3>

        <div >
            <h5>1. 속성 바인딩</h5>
            Vue() 내부에 값을 가져와 출력만 한다. 폼 요소에서 수정해도 변수의 값은 변경안됨<br>
            <input type="text" class="form-control" v-bind:value = "name">
            <input type="text" class="form-control" :value = "name">
            <input type="text" :class="formCtrl" :value = "name">
            <div>Hello World</div>
        </div>
        <br>

        <div >
            <h5>2. 양방향 바인딩</h5>
            Vue() 내부에 선언된 값을 표시 및 수정 가능하게 하는 지시자<br>
            <input type="text" class="form-control" v-model="name">
            <input type="text" class="form-control" v-model="name">
            <input type="text" class="form-control" :value="name" @input="changeName">
            Name: {{name}}<br>
            <button @click="changeValue('ABC')">Name</button>
        </div>
        <br>
    </div>

    <script type = "text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                // 값이 변경되면 화면 갱신 작업을 해 주는 변수를 정의
                name : 'NolBu',
                formCtrl : 'form-control'
            },
            methods: {
                changeName: function(str){
                    this.name= evt.target.value;
                },
                changeValue: function(str){
                    this.name = str;
                }
            }
        })
    </script>
    
</body>
</html>